
node_modules
dist
dist/*
.qodo
*.log
*.log.*
*.log.json
*.log.json.*
*.log.json.gz
*.log.gz
*.log.txt
*.log.txt.*
*.log.xml
*.DS_Store
Thumbs.db
*.swp
*.swo
.env
.vite
*.env.local
*.env.development.local
*.env.test.local
.cursorrules
